body {
  background-color: #2E3537;
  font-family: 'Arial', sans-serif;
}


.container {
  width: 90%;
  margin: 0 auto;
}

#cards {
  list-style: none;
  padding-left: 0;
}

#card1 {
  z-index: 4;
}
#card2 {
  z-index: 3;
}
#card3 {
  z-index: 2;
}
#card4 {
  z-index: 1;
}

.card {
  position: sticky;
  bottom: 0;
}

#card1 .card-body {
  background-color: #52B2CF;
}
#card2 .card-body {
  /* background-color: #7EC4CF; */
  background-color: #E5A36F;
}
#card3 .card-body {
  background-color: #9CADCE;
}
#card4 .card-body {
  background-color: #D4AFB9;
}

.card-body {
  box-sizing: border-box;
  padding: 30px;
  border-radius: 50px;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.3);
  height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

h2 {
  font-size: 2.5em;
}