:root {
  background-color: white;
}

body {
  background-color: white;
}


.animation {
  height: 17em;
}

.hero__animation {
  position: absolute;
  overflow: visible;
  width: 13rem;
}

.zht-hole {
  animation: grow-shrink 7s infinite;
}

@keyframes grow-shrink {
  0% {
    rx: 136px; /* second 0 */
  }
  40% {
    rx: 136px; /* second 2.8 */
  }
  45% {
    rx: 0px; /* second 3.15 */
  }
  90% {
    rx: 0px; /* second 6.3 */
  }
  100% {
    rx: 136px; /* second 7 */
  }
}

.zht-hole-b {
  animation: grow-shrink-b 7s infinite;
}

@keyframes grow-shrink-b {
  0% {
    rx: 0px; /* second 0 */
  }
  85% {
    rx: 0px; /* second 3.15 */
  }
  90% {
    rx: 136px; /* second 6.3 */
  }
  95% {
    rx: 136px; /* second 6.3 */
  }
  100% {
    rx: 0px; /* second 7 */
  }
}

.zht-cl {
  animation: show 7s infinite;
}

@keyframes show {
  0% {
    height: 247.5px;
    width: 300px;
  }
  40% {
    height: 247.5px;
    width: 300px;
  }
  41% {
    height: 800px;
    width: 300px
  }
  79% {
    height: 800px;
    width: 300px
  }
  99% {
    height: 800px;
    width: 300px
  }
}

.zht-body {
  position: relative;
  animation: pop-in-out 7s infinite linear;
}

@keyframes pop-in-out {
  0% {
    left: 0px;
    top: 400px;
  }
  10% {
    left: 0px;
    top: 100px;
  }
  20% {
    left: 0px;
    top: 100px;
  }
  40% {
    left: 0px;
    top: 0px;
  }

  80% {
    left: 0px;
    top: 0px;
  }
  90% {
    left: 0px;
    top: 800px;
  }
  100% {
    left: 0px;
    top: 800px;
  }
}

.zht-eo {
  fill: white;
}

.zht-flt, .zht-flb, .zht-frt, .zht-frb {
  fill: none;
  stroke: black;
  stroke-width: 3
}

.zht-h {
  fill: none;
  stroke: black;
  stroke-width: 3
}

.zht-n {
  fill: white;
}

.zht-b {
  fill: black;
  stroke: black;
  stroke-width: 3;
}

.skip-links-container .skip-link {
  position: absolute;
  top: -3rem;
  left: 0;
  background-color: white;
  color: black;
  padding: 0.4rem;
  z-index: 10;
  tab-index: 1;
  transition: opacity 0.2s ease-in-out, top 0.2s ease-in-out;
  border: black;
}

.skip-link:focus {
  top: 0;
  opacity: 1;
}


.active {
  transform: rotate(180deg);
  transition: 300ms;
  color: red;
}

.svg-body-type-1 {
  fill: none;
  stroke: black;
  stroke-width: 3
}

.svg-fill-white {
  fill: white;
}

.svg-fill-black {
  fill: black;
}

.svg-body-type-2 {
  fill: black;
  stroke: black;
  stroke-width: 3;
}

.svg-stroke-black {
  fill: none;
  stroke: black;
  stroke-width: 3;
}

.circled-svg-menu {
  width: 100px;
  height: 100px;
  fill: none;
  stroke: black;
  stroke-width: 3;
}

.circled-svg-menu path {
  fill: none;
  stroke: white;
  stroke-width: 3;
}

.circled-svg-menu text {
  font-size: 40px;
  dominant-baseline: middle;
  text-anchor: middle;
  stroke-width: 3;
  stroke: none;
  fill: white;
}



main {
  //margin-top: 6rem;
  background-color: white;
  z-index: 2;
}



body {
  cursor: url(http://www.javascriptkit.com/dhtmltutors/cursor-hand.gif), auto;
}

a {
  cursor: alias ;
}

.trophees{
  cursor: cell;
}

.style_zht-ex__2bXZg {
  opacity: 0;
}

.underline__svg__container{
  font-size: 3rem;
}

.underline__svg__container {
  position: relative;
}


.underline__call-to-action {
  stroke: black;
  stroke-width: 3;
  position: absolute;
  top: -0.1em;
  stroke-dasharray: 600;
  stroke-dashoffset: 0;
  animation: draw-svg-back 1s ease-out;
  height: 5px;
  width: 280px;
}

a .underline__call-to-action line {
  stroke-dasharray: 600;
  stroke-dashoffset: 0;
  animation: draw-svg-back-call 1s ease-out;
}

a:hover .underline__call-to-action line {
  animation: draw-svg-call 1s;
  stroke-dashoffset: 600;
}

@keyframes draw-svg-call {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 600;
  }
}


@keyframes draw-svg-back-call {
  0% {
    stroke-dashoffset: 600;
  }
  100% {
    stroke-dashoffset: 0;
  }
}


.circled-svg-call-to-action {
  stroke: black;
  stroke-width: 0.15rem;
  width: 350px;
  height: 210px;
  fill: none;
  position: absolute;
  top: -1.5rem;
  left: 0;
}


.call-to-action-2-svg-container{
  position: relative;
}

.circled-svg-call-to-action path {
  stroke-dasharray: 600;
  stroke-dashoffset: 0;
  animation: draw-svg-back 1s;
}

.call-to-action-2-svg-container:hover .circled-svg-call-to-action path {
  animation: draw-svg 1s;
  stroke-dashoffset: 600;
}

.bigger-no-js:hover {
  font-weight: 700;
  //transform: translateY(-20px) scale(2) rotate(10deg);
  z-index: 1;
}

.bigger{
  font-weight: 700;
  //transform: translateY(-20px) scale(2) rotate(10deg);
  z-index: 1;
}


@media screen and (min-width: 750px) {

  .circled-svg-menu {
    width: 120px;
    height: 120px;
  }

  .circled-svg-call-to-action {
    stroke: black;
    stroke-width: 0.15rem;
    width: 500px;
    height: 300px;
    fill: none;
    position: absolute;
    top: -3rem;
    left: -1em;
  }

  main, footer {
    position: sticky;
    bottom: 0;
  }

  .underline__svg__container{
    font-size: 5rem;
  }

  .hero {
    padding-top: 7rem ;
  }
}


@media screen and (min-width: 1250px) {

  main, footer {
    position: sticky;
    bottom: 0;
  }

  .circled-svg-call-to-action {
    stroke: black;
    stroke-width: 0.1rem;
    width: 800px;
    height: 300px;
    fill: none;
    position: absolute;
    top: -3rem;
    left: -1em;
  }

  .call-to-action-2 {
    font-size: 4rem;
  }

  .circled-svg-menu {
    width: 120px;
    height: 140px;
  }

  .underline__svg__container{
    font-size: 6rem;
  }
}

