/*----  FONT  ----*/

//font-size
:root {
  font-size: 0.875rem; //14 pixels
}

.font-size-h1 { //49px
  font-size: 3.5em;
}

.font-size-h2 { //42pxe
  font-size: 3em;
}

.big-text-base { //21px
  font-size: 1.5rem;
}

.medium-text-base { //18px
  font-size: 1.25rem;
}

.font-size-p-L { //16px
  font-size: 1.14rem;
}

.font-size-p { //14px
  font-size: 1rem;
}

.small-text-logo {
  font-size: 0.7rem;
}

//font-family
:root {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}

.mono-text {
  font-family: "Anonymous Pro", Courier, monospace;
}

//font-style
.italic-text {
  font-style: italic;
}

//font-weight
.bold-text {
  font-weight: 700;
}

.semi-bold-text {
  font-weight: 600;
}

.medium-text {
  font-weight: 500;
}

.light-text {
  font-weight: 400;
}

//line-height
.basic-line-height {
  line-height: 1.5em;
}

.big-line-height {
  line-height: 3em;
}


/*----  COLOR  ----*/

.underline {
  text-decoration: underline;
}

::selection {
  background: #fd0;
}

.black-text {
  color: black;
}

.white-text {
  color: white;
}

.bg-color-black {
  background-color: black;
}

.bg-color-white {
  background-color: white;
}



//position
.relative {
  position: relative;
}

//
.scrolling-down {
  top: -200px;
}

//visibility
.test {
  visibility: hidden;
}

.test-1 {
  visibility: initial;
}

.medium-line-height {
  line-height: 2rem;
}

.text-align-center {
  text-align: center;
}

//transform

.scale-0 {
  transform: scale(0);
}

.scale-1 {
  transform: scale(1);
}

.fill-white {
  fill: white;
}


@media screen and (min-width: 750px) {
  //font-size
  body {
    color: skyblue;
  }

  :root {
    font-size: 0.875rem; //14 pixels
  }

  .font-size-h1 { //112px
    font-size: 8rem;
  }

  .font-size-h2 { //42pxe
    font-size: 5rem;
  }

  .big-text-base { //21px
    font-size: 1.5rem;
  }

  .medium-text-base { //18px
    font-size: 1.25rem;
  }

  .font-size-p-L { //16px
    font-size: 1.14rem;
  }

  .font-size-p { //14px
    font-size: 1rem;
  }

  .small-text-logo {
    font-size: 0.7rem;
  }

  //font-weight
  .bold-text {
    font-weight: 700;
  }

  .semi-bold-text {
    font-weight: 600;
  }

  .medium-text {
    font-weight: 500;
  }

  .light-text {
    font-weight: 400;
  }

  //line-height
  .basic-line-height {
    line-height: 1.5em;
  }

  .big-line-height {
    line-height: 3em;
  }


  /*----  COLOR  ----*/

  //https://www.youtube.com/watch?v=WWN-68aQ-Qk


  .scrolling-down {
    top: -200px;
  }

  .medium-line-height {
    line-height: 2rem;
  }

}



@media screen and (min-width: 1250px) {
  //font-size
  body{
    color: orange;
  }

  :root {
    font-size: 1rem; //14 pixels
  }

  .font-size-h1 { //160px
    font-size: 8rem;
  }

  .font-size-h2 { //42pxe
    font-size: 7rem;
  }

  .big-text-base { //21px
    font-size: 1.5rem;
  }

  .medium-text-base { //18px
    font-size: 1.25rem;
  }

  .font-size-p-L { //16px
    font-size: 1.14rem;
  }

  .font-size-p { //16px
    font-size: 1rem;
  }

  .small-text-logo {
    font-size: 0.7rem;
  }

  //font-weight
  .bold-text {
    font-weight: 700;
  }

  .semi-bold-text {
    font-weight: 600;
  }

  .medium-text {
    font-weight: 500;
  }

  .light-text {
    font-weight: 400;
  }

  //line-height
  .basic-line-height {
    line-height: 1.5em;
  }

  .big-line-height {
    line-height: 3em;
  }


  /*----  COLOR  ----*/

  //https://www.youtube.com/watch?v=WWN-68aQ-Qk


  .scrolling-down {
    top: -200px;
  }

  .medium-line-height {
    line-height: 2rem;
  }

}
